<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Beat Lab</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="header-box" class="header">
            <header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
                <a href="/" class="navbar-brand site-title">Beat Lab</a>
                <nav class="navbar navbar-light bg-light">
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
                        <span class="navbar-toggler-icon my-toggler"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="collapsingNavbar2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a href="#" class="nav-link nav-color" aria-current="page">Home</a></li>
                            <li class="nav-item"><a href="#about-link" class="nav-link nav-color">About</a></li>
                            <li class="nav-item"><a href="#publications-link" class="nav-link nav-color">Publications</a></li>
                            <li class="nav-item"><a href="#teaching-link" class="nav-link nav-color">Teaching</a></li>
                            <li class="nav-item"><a href="#team-link" class="nav-link nav-color">Team</a></li>
                            <li class="nav-item"><a href="#contact-link" class="nav-link nav-color">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
    </body>

