<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Beat Lab</title>
    </head>
    <body>
        <div id="header-box" class="header">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-4 site-title">Beat Lab</span>
                </a>
                <nav>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="#" class="nav-link nav-color" aria-current="page">Home</a></li>
                        <li class="nav-item"><a href="#about-link" class="nav-link nav-color">About</a></li>
                        <li class="nav-item"><a href="#publications-link" class="nav-link nav-color">Publications</a></li>
                        <li class="nav-item"><a href="#teaching-link" class="nav-link nav-color">Teaching</a></li>
                        <li class="nav-item"><a href="#team-link" class="nav-link nav-color">Team</a></li>
                        <li class="nav-item"><a href="#contact-link" class="nav-link nav-color">Contact</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </body>
